<html>
  <head>
    <title>Steatite</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet.css" />    
  </head>
  <body>
    <header>
      <nav>
        <a href='..'>Corpora</a> > 
        <span id="here">
          {{#corpus}}{{corpus}}{{/corpus}}
          {{^corpus}}All pictures{{/corpus}}
        </span>
      </nav>
      <form method='post' enctype='multipart/form-data'>
        <input id="chooser" type='file' name='sources[]' multiple />
        <button type='submit'>UPLOAD</button>
      </form>
    </header>
    <form>
      {{#pictures}}
      <div class="picture">
        <a href='{{id}}'><img src='../thumbnail/{{id}}' /></a>
        <p>{{name}}</p>
      </div>
      {{/pictures}}
    </form>
    <footer id="bottom" />
  </body>
</html>
