# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build

# misc
.DS_Store

.vscode
*.zip
src/HandleFileAddedInS3/handleFileAddedInS3.zip
src/getAttributes/getAttributes.zip
