<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Steatite</title>
    <link rel='stylesheet' type='text/css' href='../stylesheet.css' />    
    <script src='https://code.jquery.com/jquery.min.js'></script>
    <script src='https://www.appelsiini.net/download/jquery.jeditable.mini.js'></script>
    <script type='text/javascript'>

    function move() {
      var destination = $("#destination").val();
      var checked = $(".picture :checked");
      var countdown = checked.size();
      checked.each(function() {
        var picture = $(this).closest(".picture");
        $.ajax({
          type: "POST",
          url: "../attributes.php?source_id=" + picture.attr("id")
            + "&attribute_name=corpus&attribute_value=" + destination,
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    }

    function deletePictures() {
      var checked = $(".picture :checked");
      var countdown = checked.size();
      checked.each(function() {
        var picture = $(this).closest(".picture");
        $.ajax({
          type: "DELETE",
          url: "../attributes.php?source_id=" + picture.attr("id"),
          success: function() {
            countdown--;
            if (countdown<1) {
              location.reload();
            }
          }
        });
      });
    }

    function rename(id, value) {
      $.ajax({
        type: "POST",
        url: "../attributes.php?source_id=" + id
          + "&attribute_name=name&attribute_value=" + value
      });
      return value;
    }

    function toggleSelect() {
      var checked = $("#toggle").is(":checked");
      $("input[type='checkbox']").each(function() {
        $(this).attr("checked", checked);
      });
    }

    $(document).ready(function() {
      resetUI();
      $(".picture span").editable(function(value) {
        return rename($(this).closest(".picture").attr("id"), value);
      }, {
        tooltip: "Click to edit..."
      });
    });

    function resetUI() {
      $("header>form").replaceWith(
        "<form>"
        + "<button type='button' onclick='showUpload()'>Upload...</button>"
        + "<input type='hidden' name='corpus' value='{{corpus}}' />"
        + "<select name='sort'>"
        + "<option value=''>Last modified</option>"
        + "<option value='1'>Picture</option>"
        + "<option value='2'>Name</option>"
        + "</select>"
        + "<button type='submit'>Sort</button>"
        + "<button type='button' onclick='showMove()'>Move...</button>"
        + "<button type='button' onclick='showDelete()'>Delete...</button>"
        + "</form>"
      );
      $("option[value='{{sort}}']").attr("selected", "selected");
      $("input[type='checkbox']").remove();
    }

    function showUpload() {
      $("header>form").replaceWith(
        "<form method='post' enctype='multipart/form-data'>"
        + "<input id='chooser' type='file' name='sources[]' multiple />"
        + "<button onclick='resetUI()' type='button'>Cancel</button>"
        + "<button type='submit'>Upload</button>"
        + "</form>"
      );
    }

    function showMove() {
      $("header>form").replaceWith(
        "<form>"
        + "<input type='text' id='destination' placeholder='Destination corpus' />"
        + "<button onclick='resetUI()' type='button'>Cancel</button>"
        + "<input id='toggle' type='checkbox' onclick='toggleSelect()'>Select all</button>&nbsp;"
        + "<button type='button' onclick='move()'>Move</button>"
        + "</form>"
      );
      $(".picture>div").prepend("<input type='checkbox' />");
    }

    function showDelete() {
      $("header>form").replaceWith(
        "<form>"
        + "<button onclick='resetUI()' type='button'>Cancel</button>"
        + "<input id='toggle' type='checkbox' onclick='toggleSelect()'>Select all</button>&nbsp;"
        + "<button type='button' onclick='deletePictures()'>Delete</button>"
        + "</form>"
      );
      $(".picture>div").prepend("<input type='checkbox' />");
    }

    </script>
  </head>
  <body>
    <header>
      <nav>
        <a href='..'>Pictures</a> &gt;
        <span id='here'>
          {{corpus}}
          {{^corpus}}Miscellanea{{/corpus}}
        </span>
      </nav>
      <form />
    </header>
    <form>
      {{#pictures}}
      <div id='{{id}}' class='picture'>
        <a href='{{id}}'><img src='../thumbnail/{{id}}' /></a>
        <div>
          <span>{{name}}</span>
        </div>
      </div>
      {{/pictures}}
    </form>
    <footer id='bottom' />
  </body>
</html>
