global
    log stdout format raw local0

defaults
    log global
    mode http
    option httplog
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

backend stick_table
    stick-table type ip size 100k expire 30s store http_req_rate(10s)

frontend http_front
    bind *:80

    acl is_thumbnail path_beg /thumbnail/

    http-request track-sc0 src table stick_table if !is_thumbnail

    http-request deny deny_status 429 if !is_thumbnail { sc_http_req_rate(0) gt 100 }

    http-request set-header Host %[req.hdr(host)]
    default_backend aaaforrest_backend

backend aaaforrest_backend
    server aaaforrest aaaforrest:1337
