<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Steatite</title>
    <link rel='stylesheet' type='text/css' href='stylesheet.css' />    
  </head>
  <body>
    <header>
      <nav id='here'>Pictures</nav>
      <form method='get' action='picture/'>
        <input type='text' name='corpus' size='12' placeholder='New corpus' />
        <button type='submit'>Add</button>
      </form>
    </header>
    <div class='picture'>
      <a href='picture/'><img src='thumbnail/{{sample}}' /></a>
      <div>Miscellanea ({{count}})</div>
    </div>
    {{#corpora}}
      <div class='picture'>
        <a href='picture/?corpus={{{id}}}&sort=2'>
          <img src='thumbnail/{{sample}}' />
        </a>
        <div>{{id}} ({{count}})</div>
      </div>
    {{/corpora}}
  </body>
</html>
