<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Steatite</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />    
  </head>
  <body>
    <header>
      <nav id="here">Pictures</nav>
      <form method='get' action='picture/'>
        <input type='text' name='corpus' size='12' placeholder='New corpus' />
        <button type='submit'>Add</button>
      </form>
    </header>
    <ul>
      <li>
        <a href='picture/'>Miscellanea ({{count}})</a>
      </li>
      {{#corpora}}
        <li>
          <a href='picture/?corpus={{{id}}}'>{{id}} ({{count}})</a>
        </li>
      {{/corpora}}
    </ul>
  </body>
</html>
